In [1]:
#Import Library
import pandas as pd 
import numpy as np 
import pickle

In [2]:
#Membuka scaler
with open('model_scaler.pkl', 'rb') as file_1:
 scaler = pickle.load(file_1)

In [3]:
#Membuka PCA
with open('model_pca.pkl', 'rb') as file_2:
 pca = pickle.load(file_2)

In [4]:
#Membuka K-means
with open('km.pkl', 'rb') as file_3:
 km = pickle.load(file_3)

In [7]:
# Membaca dataset
df_clear=pd.read_csv("inference.csv")

df_clear.head()

,Unnamed: 0,child_mortality,exports,health,imports,income,inflation,life_expectancy,total_fertility,gdpp
0,0,90.2,10.0,7.58,44.9,1610.0,9.44,56.2,5.82,553.0
1,1,16.6,28.0,6.55,48.6,9930.0,4.49,76.3,1.65,4090.0
2,2,27.3,38.4,4.17,31.4,12900.0,16.10,76.5,2.89,4460.0
3,3,119.0,62.3,2.85,42.9,5900.0,22.40,60.1,6.16,3530.0
4,4,10.3,45.5,6.03,58.9,19100.0,1.44,76.8,2.13,12200.0

In [8]:
#Melihat missing value
df_clear.isnull().sum()

Unnamed: 0         0
child_mortality    0
exports            0
health             0
imports            0
income             0
inflation          0
life_expectancy    0
total_fertility    0
gdpp               0
dtype: int64

In [9]:
df_clear= df_clear.drop(['Unnamed: 0'], axis= 1)

In [10]:
# scaler
df_scaled = scaler.transform(df_clear)

# reduce PCA
df_pca = pca.transform(df_scaled)

# model Kmeans
pred = km.predict(df_pca)

# tambahkan kolom cluster
df_clear['cluster'] = pred

In [11]:
pred

array([1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1])